{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<h1>Clientes</h1>
<br>
<form method="POST" action="{{ url_for('clientes') }}">
    <label>Nombre del Cliente:</label>
    <input type="text" name="nombre" required>
    <label>Correo Electrónico: (Opcional)</label>
    <input type="email" name="correo">
    <button type="submit">Agregar Cliente</button>
</form>
<br>
<h2>Clientes:</h2>
<ul>
    {% for cliente in clientes %}
        <li>
            Nombre: {{ cliente.nombre }} --- Correo: {{ cliente.correo }}
            <form action="{{ url_for('borrar_cliente', cliente_id=cliente.id) }}" method="post" style="display:inline;">
                <button type="submit" class="delete">Borrar</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
