{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<h1>Proveedores</h1>
<br>

<form method="POST" action="{{ url_for('proveedores') }}">
    <label>Nombre del Proveedor:</label>
    <input type="text" name="nombre" required>
    <label>Correo Electrónico: (Opcional)</label>
    <input type="email" name="correo">
    <button type="submit">Agregar Proveedor</button>
</form>
<br>
<h2>Proveedores:</h2>

<ul>
    {% for proveedor in proveedores %}
        <li>
            Nombre: {{ proveedor.nombre }} --- Correo: {{ proveedor.correo }}
            <form action="{{ url_for('borrar_proveedor', proveedor_id=proveedor.id) }}" method="post" style="display:inline;">
                <button type="submit" class="delete">Borrar</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
