<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a href="{{ url_for('inventario') }}">Inventario</a></li>
                <li><a href="{{ url_for('clientes') }}">Clientes</a></li>
                <li><a href="{{ url_for('proveedores') }}">Proveedores</a></li>
                <li><a href="{{ url_for('facturacion') }}">Facturación</a></li>
            </ul>
            <button class="menu-toggle">☰</button>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const navMenu = document.querySelector('header nav ul');
    
        menuToggle.addEventListener('click', () => {
            navMenu.classList.toggle('active');

        });
    </script>    
</body>
</html>
